* {
	margin: 0;
	padding: 0;
}
#wrap {
	background: #00C;
	margin: 0 auto;
	width: 960px;
}
#header {
	background: #FF3300;
	width: 100%;
}
#mainbody {
	background: #FC0;
	width: 100%;
	overflow: hidden;
}
.left {
	width: 800px;
	height: 200px;
	background: #000;
	float: left;
}
.right {
	width: 140px;
	height: 500px;
	background: #690;
	float: right;
}
#footer {
	background: #639;
	width: 100%;
}